<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PETSHOP DH</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <%- include("./components/header.ejs") %>

    <main>
      <form action="/admin/login" class="login" method="POST">
        <h1>Login</h1>
        <label for="email">Email</label>
        <input type="email" name="email" id="" />
        <label for="password">Senha</label>
        <input type="password" name="password" id="" />
        <div class="remember">
          <input type="checkbox" name="remember" id="" />
          <label for="remember">Lembrar meu usuário</label>
        </div>
        <button class="submit" type="submit">Enviar</button>
      </form>
    </main>
    <script src="../js/main.js"></script>
    <%- include("./components/footer.ejs") %>
  </body>
</html>
