<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Cadastro</title>
  </head>
  <body>
    <%- include("../components/header.ejs") %>

    <main>
      <form action="/admin/userCadastro" class="login" method="POST">
        <h1>Cadastro</h1>
        <% if(typeof errors !== 'undefined') { %>
        <ul>
          <% for(let erro in errors) { %>
          <li><%= errors[erro].msg %></li>
          <% } %>
        </ul>
        <% } %>
        <label for="name">Nome</label>
        <input type="text" name="name" />
        <label for="email">Email</label>
        <input type="email" name="email" />
        <label for="password">Senha</label>
        <input type="password" name="password" />
        <button class="submit" type="submit">Enviar</button>
      </form>
    </main>
    <script src="../js/main.js"></script>

    <%- include("../components/footer.ejs") %>
  </body>
</html>
